Groq:  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

OpenAI: sk-DizzwdU07-snGjdKEFz0dYFuaH497tQTwDZO6cicVsT3BlbkFJhY9DC2FZGuVL4U2PmU7WhzDpj7Cn2UEFU7PbRi7NIA

Google genAI: AIzaSyCz8-rZ2AXUfZRRkuqHJRLXyhqBsOBnsRU